.assets
.idea
.vscode
venv
facefusion\\__pycache__
facefusion/__pycache__/wording.cpython-310.pyc
facefusion/__pycache__/voice_extractor.cpython-310.pyc
facefusion/__pycache__/vision.cpython-310.pyc
facefusion/__pycache__/typing.cpython-310.pyc
facefusion/__pycache__/thread_helper.cpython-310.pyc
facefusion/__pycache__/temp_helper.cpython-310.pyc
facefusion/__pycache__/statistics.cpython-310.pyc
facefusion/__pycache__/state_manager.cpython-310.pyc
facefusion/__pycache__/program_helper.cpython-310.pyc
facefusion/__pycache__/program.cpython-310.pyc
facefusion/__pycache__/process_manager.cpython-310.pyc
facefusion/__pycache__/normalizer.cpython-310.pyc
facefusion/__pycache__/metadata.cpython-310.pyc
facefusion/__pycache__/memory.cpython-310.pyc
facefusion/__pycache__/logger.cpython-310.pyc
facefusion/__pycache__/json.cpython-310.pyc
facefusion/__pycache__/installer.cpython-310.pyc
facefusion/__pycache__/inference_manager.cpython-310.pyc
facefusion/__pycache__/hash_helper.cpython-310.pyc
facefusion/__pycache__/filesystem.cpython-310.pyc
facefusion/__pycache__/ffmpeg.cpython-310.pyc
facefusion/__pycache__/face_store.cpython-310.pyc
facefusion/__pycache__/face_selector.cpython-310.pyc
facefusion/__pycache__/face_recognizer.cpython-310.pyc
facefusion/__pycache__/face_masker.cpython-310.pyc
facefusion/__pycache__/face_landmarker.cpython-310.pyc
facefusion/__pycache__/face_helper.cpython-310.pyc
facefusion/__pycache__/face_detector.cpython-310.pyc
facefusion/__pycache__/face_classifier.cpython-310.pyc
facefusion/__pycache__/face_analyser.cpython-310.pyc
facefusion/__pycache__/exit_helper.cpython-310.pyc
facefusion/__pycache__/execution.cpython-310.pyc
facefusion/__pycache__/download.cpython-310.pyc
facefusion/__pycache__/date_helper.cpython-310.pyc
facefusion/__pycache__/core.cpython-310.pyc
facefusion/__pycache__/content_analyser.cpython-310.pyc
facefusion/__pycache__/config.cpython-310.pyc
facefusion/__pycache__/common_helper.cpython-310.pyc
facefusion/__pycache__/choices.cpython-310.pyc
facefusion/__pycache__/audio.cpython-310.pyc
facefusion/__pycache__/args.cpython-310.pyc
facefusion/__pycache__/app_context.cpython-310.pyc
facefusion/__pycache__/__init__.cpython-310.pyc
facefusion/uis/components/__pycache__/__init__.cpython-310.pyc
facefusion/uis/components/__pycache__/about.cpython-310.pyc
facefusion/uis/components/__pycache__/age_modifier_options.cpython-310.pyc
facefusion/uis/components/__pycache__/common_options.cpython-310.pyc
facefusion/uis/components/__pycache__/execution.cpython-310.pyc
facefusion/uis/components/__pycache__/execution_queue_count.cpython-310.pyc
facefusion/uis/components/__pycache__/execution_thread_count.cpython-310.pyc
facefusion/uis/components/__pycache__/expression_restorer_options.cpython-310.pyc
facefusion/uis/components/__pycache__/face_debugger_options.cpython-310.pyc
facefusion/uis/components/__pycache__/face_detector.cpython-310.pyc
facefusion/uis/components/__pycache__/face_editor_options.cpython-310.pyc
facefusion/uis/components/__pycache__/face_enhancer_options.cpython-310.pyc
facefusion/uis/components/__pycache__/face_landmarker.cpython-310.pyc
facefusion/uis/components/__pycache__/face_masker.cpython-310.pyc
facefusion/uis/components/__pycache__/face_selector.cpython-310.pyc
facefusion/uis/components/__pycache__/face_swapper_options.cpython-310.pyc
facefusion/uis/components/__pycache__/frame_colorizer_options.cpython-310.pyc
facefusion/uis/components/__pycache__/frame_enhancer_options.cpython-310.pyc
facefusion/uis/components/__pycache__/instant_runner.cpython-310.pyc
facefusion/uis/components/__pycache__/job_manager.cpython-310.pyc
facefusion/uis/components/__pycache__/job_runner.cpython-310.pyc
facefusion/uis/components/__pycache__/lip_syncer_options.cpython-310.pyc
facefusion/uis/components/__pycache__/memory.cpython-310.pyc
facefusion/uis/components/__pycache__/output.cpython-310.pyc
facefusion/uis/components/__pycache__/output_options.cpython-310.pyc
facefusion/uis/components/__pycache__/preview.cpython-310.pyc
facefusion/uis/components/__pycache__/processors.cpython-310.pyc
facefusion/uis/components/__pycache__/source.cpython-310.pyc
facefusion/uis/components/__pycache__/target.cpython-310.pyc
facefusion/uis/components/__pycache__/temp_frame.cpython-310.pyc
facefusion/uis/components/__pycache__/terminal.cpython-310.pyc
facefusion/uis/components/__pycache__/trim_frame.cpython-310.pyc
facefusion/uis/components/__pycache__/ui_workflow.cpython-310.pyc
facefusion/jobs/__pycache__/__init__.cpython-310.pyc
facefusion/jobs/__pycache__/job_helper.cpython-310.pyc
facefusion/jobs/__pycache__/job_list.cpython-310.pyc
facefusion/jobs/__pycache__/job_manager.cpython-310.pyc
facefusion/jobs/__pycache__/job_runner.cpython-310.pyc
facefusion/jobs/__pycache__/job_store.cpython-310.pyc
facefusion/processors/__pycache__/__init__.cpython-310.pyc
facefusion/processors/__pycache__/choices.cpython-310.pyc
facefusion/processors/__pycache__/core.cpython-310.pyc
facefusion/processors/__pycache__/live_portrait.cpython-310.pyc
facefusion/processors/__pycache__/pixel_boost.cpython-310.pyc
facefusion/processors/__pycache__/typing.cpython-310.pyc
