filetype==1.2.0
gradio==4.44.0
gradio-rangeslider==0.0.6
numpy==1.26.4
onnx==1.16.1
onnxruntime==1.19.2
opencv-python==4.10.0.84
psutil==5.9.8
tqdm==4.66.5
scipy==1.14.1
--extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-12/pypi/simple
# Uncomment for testing
# torch 
# torchvision 
# torchaudio 
# --index-url https://download.pytorch.org/whl/cu118
